.tt-btn {
  background: #DEA8D5;
  border-radius: calculateRem(20px);
  color: black;
  font-size: calculateRem(20px);
  padding: calculateRem(10px) calculateRem(20px);
  transition: background 0.3s ease;

  &:hover {
    background: #C78BB3;
  }

  &--special {
    text-transform: uppercase;
    font-style: italic;

    @media screen and (min-width: $desktop) {
      font-size: calculateRem(24px);
    }
  }
}
