@font-face {
  font-family: 'Just Another Hand';
  src: url('~@fonts/JustAnotherHand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JejuGothic';
  src: url('~@fonts/JejuGothic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
