.pagination {
    display: flex;
    flex-direction: column;
    gap: calculateRem(10px);
    margin: calculateRem(24px) calculateRem(20px);
    @media screen and (min-width: $desktop) {
      justify-content: space-evenly;
      flex-direction: row;
  }
}
