$header-height: calculateRem(200px);
$desktop: calculateRem(1440px);
$border-gradient: linear-gradient(90deg, #E5D074 -1.67%, #FFB6E1 50.23%, #235893 100%) 1;
$text-gradient: linear-gradient(180deg, #F7CB29 0.52%, #F7CB29 0.53%, #FB87C7 34.79%, #003D86 66.99%);
$font-just-another-hand: 'Just Another Hand', cursive;
$font-jeju-gothic: 'JejuGothic', sans-serif;
$pink: #FCB9D6;
$pink-alt: #DEA8D5;
