@import "normalize.css";

@import '~swiper/scss'; // Base styles
@import '~swiper/scss/navigation'; // Navigation arrows
@import '~swiper/scss/pagination'; // Pagination bullets

@import "common/functions";
@import "common/variables";
@import "common/extends";
@import "common/fonts";
@import "common/gradients";
@import "common/buttons";
@import "layout/layout";
@import "layout/header";
@import "layout/footer";

@import "blocks/text-with-image";

@import "pages/about";
@import "pages/comics";
@import "pages/updates";
@import "pages/contact";
@import "pages/home";

@import "vendor/swiper";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
  margin: 0;
  font-family: $font-jeju-gothic;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, #app {
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.main {
  flex-grow: 1;
  max-width: $desktop;
  margin: calculateRem(50px) auto;
  width: 100%;
}

footer {
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.h1 {
  @extend %text-gradient;
  font-family: $font-just-another-hand;
  font-weight: 400;

  font-size: calculateRem(64px);
  line-height: calculateRem(64px);

  @media screen and (min-width: $desktop) {
    font-size: calculateRem(128px);
    line-height: calculateRem(128px);
  }
}

.tt-cover {
  max-width: calculateRem(450px);
  width: 100%;
  border: calculateRem(5px) solid;
  border-image: $border-gradient;
}

.h2 {
  font-size: calculateRem(52px);
  line-height: calculateRem(40px);
  font-family: $font-just-another-hand;
  font-weight: 400;
  margin: calculateRem(32px) 0;
}

p {
  font-size: calculateRem(25px);
  line-height: calculateRem(40px);
}
