@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "common/fonts.css";

:root {
  --header-height: 200px;
  --container-width: 1440px;
  --border-gradient: linear-gradient(90deg, #E5D074 -1.67%, #FFB6E1 50.23%, #235893 100%) 1;
  --text-gradient: linear-gradient(180deg, #F7CB29 0.52%, #F7CB29 0.53%, #FB87C7 34.79%, #003D86 66.99%);
}

.border-bottom-gradient {
  border-image: var(--border-gradient);
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.current_page_item {
  border-bottom: 5px solid;
  border-image: var(--border-gradient);
}
